GSS7218_R1.dta
tags_va.xlsx
~$tags_va.xlsx
virginia.csv
text/scarlet.txt
text/adventures.txt
text/fear.txt
text/hound.txt
text/last.txt
text/memoirs.txt
text/return.txt
text/sign.txt
text/boer.txt
text/white.txt
text/adventure.txt
text/adventure-nouns.txt
text/boer-nouns.txt
.gitignore
text/fear-nouns.txt
text/hound-nouns.txt
text/last-nouns.txt
text/memoirs-nouns.txt
text/return-nouns.txt
text/scarlet-nouns.txt
text/sign-nouns.txt
text/white-nouns.txt
