GSS7218_R1.dta
tags_va.xlsx
~$tags_va.xlsx
virginia.csv
text/scarlet.txt
text/adventures.txt
text/fear.txt
text/hound.txt
text/last.txt
text/memoirs.txt
text/return.txt
text/sign.txt
text/boer.txt
text/white.txt
